/* ***********************************************************
colors :blue-
 violet-#f8f0fc 
 grape-#e599f7
 #eebefa;
main grape- #862e9c
other-#9243a6
green- #00bb4b
yellow-
#e67700
#ffec99
#8a4700



***********************************************************
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #555;
}
body {
  background: linear-gradient(#d0ebff, #e5dbff);
}
main {
  max-width: 1360px;
  margin: 0 auto;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.grid-big {
  display: grid;
  grid-template-columns: 8rem 1fr 26rem;
}

.grid-medium {
  display: grid;
  grid-template-columns: 7rem 1fr 26rem;
}

.grid-small {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-bar {
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

.main-section {
  background-color: #f8f0fc;
  padding: 3rem;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.account-section {
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  overflow-y: scroll;
}

/* *****************************************
NAV BAR
***************************************** */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 1.2rem;
  margin: 2.5rem 0;
}

.nav-middle-svg {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.nav-main-svg {
  width: 35px;
  padding: 9px;
  border-radius: 50%;
  margin-bottom: 3rem;
  stroke: rgba(134, 46, 156, 0.4);
}
.nav-main-svg:hover {
  background-color: #eebefa;
  stroke: #862e9c;
}

.svg-active {
  background-color: #eebefa;
  stroke: #862e9c;
}

.logout {
  margin-bottom: 2.5rem;
  stroke: #e67700;
}
.logout:hover {
  background-color: #ffec99;
  stroke: #8a4700;
}

/* *****************************************
MENU- MAIN SECTION
***************************************** */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-search-bar {
  width: 30rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  border: 0.2px solid rgba(229, 151, 247, 0.4);
}

.input-bar-search-svg {
  stroke: #e599f7;
  width: 1.8rem;
  height: 1.8rem;
}

.search-bar-input::placeholder {
  color: #e599f7;
  /* opacity: 1;  */
}

.search-bar-input {
  width: 95%;
  color: #862e9c;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin: 0 0.4rem;
  background-color: #f8f0fc;
}

.menu-button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  height: 3rem;
  color: #fff;
  padding: 1.5rem 2rem;
  border: 0;
  background-color: #04acca;
  border-radius: 7px;
}
.menu-button:hover {
  transform: scale(1.05);
}

.menu-button-svg {
  width: 11px;
  margin-left: 0.5rem;
  color: #ffffff;
}

/* *****************************************
MAIN SECTION
***************************************** */

.heading-primary {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  color: #9243a6;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.main-card-1,
.main-card-2,
.main-card-3,
.main-card-4 {
  margin: 2rem 0;
  background-color: #fff;
  padding: 2rem;
  border-radius: 7px;
}

.main-card-1:hover,
.main-card-2:hover,
.main-card-3:hover,
.main-card-4:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.2rem 4.4rem rgba(0, 0, 0, 0.06);
}

.main-card-img {
  width: 100%;
}

.main-card-head {
  display: block;
  font-size: 1.5rem;
  color: #9243a6;
  font-weight: 600;
  margin-top: 2rem;
}
.main-card-txt {
  font-size: 1.05rem;
  margin: 1rem 0;
  letter-spacing: 0.1px;
  line-height: 15px;
}

.card-img1 {
  height: 12rem;
}

progress {
  background-color: #862e9c;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  border: 0;
}

progress::-webkit-progress-value {
  background-color: #862e9c !important;
  width: 100%;
  border-radius: 30px;
}

progress::-webkit-progress-bar {
  background-color: #f3d9fa;
  border-radius: 30px;
}

progress::-moz-progress-bar {
  border: 0;
  height: 4px;
  border-radius: 30px;
}

.main-svg-box {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-paid-svg {
  width: 26px;
  height: 26px;
  padding: 6px;
  stroke: #e599f7;
}

.main-svg {
  width: 26px;
  height: 26px;
  background-color: #ffec99;
  padding: 4px 7px;
  border-radius: 50%;
  fill: #e67700;
  opacity: 0.8;
}

.main-svg:hover {
  opacity: 1;
}

.main-price {
  font-size: 1.2rem;
  color: #04acca;
  font-weight: 600;
}
.button {
  background-color: #862e9c;
  color: #fff;
}

.margin-top {
  margin-top: 2rem;
}

.main-challenge-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.main-challenge-img {
  display: flex;
  justify-content: center;
}

.main-card-img1 {
  width: 70%;
  margin: 0.6rem 0;
}

.challenge-align {
  display: flex;
  align-items: center;
}
.challenge-svg {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;

  stroke: #e67700;
}

.challenge-txt {
  font-size: 1.2rem;
  color: #04acca;
  font-weight: 600;
}

.button1 {
  background-color: #862e9c;
  color: #fff;
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}

/* *****************************************
ACCOUNT
***************************************** */
.account-svg {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding: 2rem;
  padding-bottom: 0;
}

.account-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-img {
  width: 70%;
}

.account-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 3rem 2rem 2rem;
}
.account-info-card {
  width: 4rem;
}

.account-info-card1 {
  background-color: #ffec99;
  border-radius: 7px;
}

.info-svg1 {
  width: 2rem;
  color: #e67700;
  margin: 1.2rem;
  margin-bottom: 0.2rem;
}

.info-head1 {
  color: #e67700;
  font-size: 1.2rem;
  margin: 1.2rem;
  margin-top: 0;
}

.info-num-align {
  display: flex;
  justify-content: center;
}

.info-num1 {
  color: #e67700;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1rem;
  margin-top: 0;
}

.account-info-card2 {
  background-color: #cdeefa;
  border-radius: 7px;
}

.info-svg2 {
  width: 2.1rem;
  color: #04acca;
  margin: 1.2rem;
  margin-bottom: 0.2rem;
}

.info-head2 {
  color: #04acca;
  font-size: 1.2rem;
  margin: 1.2rem;
  margin-top: 0;
}

.info-num2 {
  color: #04acca;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1rem;
  margin-top: 0;
}

.account-head {
  font-size: 1.4rem;
  padding: 2rem;
  color: #da77f2;
}
.resume-quiz-cards {
}

.resume-card-full {
}

.resume-card {
  margin: 0 5rem 2rem 4rem;
  padding: 1rem;

  border: 1px solid #e599f7;
  border-right: 0;
  border-radius: 7px;
  display: flex;
  align-items: center;
  position: relative;
}

.resume-svg {
  width: 1.5rem;
  stroke: #da77f2;
  margin-left: 0.5rem;
}

.resume-txt {
  font-size: 1.2rem;
  font-weight: 600;
  color: #862e9c;
  margin-left: 1.5rem;
}

.resume-card::after {
  content: "";
  position: absolute;
  top: 1.5px;
  right: -10px;
  background-image: url("img/play.svg");
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}
